<!-- ko template: indicatorsTemplate -->
<!-- /ko -->
<div class="carousel-inner">
    <!-- ko foreach: items -->
    <div class="item" data-bind="with: $parent.converter($data), css: { active: $index() == 0 }">
        <img data-bind="attr: { src: src, alt: alt }">
        <div class="container">
            <div class="carousel-caption">
                <!-- ko template: { name: $parents[1].itemTemplateName, data: $data, templateEngine: $parents[1].templateEngine } -->
                <!-- /ko -->
            </div>
        </div>
    </div>
    <!-- /ko -->
</div>
<!-- ko template: controlsTemplate -->
<!-- /ko -->
