<ul class="pagination">
    <!-- ko if: boundary -->
    <li data-bind="css: { disabled: isBackDisabled }">
        <a href="#" data-bind="with: text, click: selectFirst">
            <span data-bind="html: first">First</span>
        </a>
    </li>
    <!-- /ko -->
    
    <!-- ko if: directions -->
    <li data-bind="css: { disabled: isBackDisabled }">
        <a href="#" data-bind="with: text, click: back">
            <span data-bind="html: back">&laquo;</span>
        </a>
    </li>
    <!-- /ko -->

    <!-- ko foreach: pages -->
    <li data-bind="css: { active: isActive }">
        <a href="#" data-bind="text: text, click: $parent.selectPage"></a>
    </li>
    <!-- /ko -->
    
    <!-- ko if: directions -->
    <li data-bind="css: { disabled: isForwardDisabled }">
        <a href="#" data-bind="with: text, click: forward">
            <span data-bind="html: forward">&raquo;</span>
        </a>
    </li>
    <!-- /ko -->

    <!-- ko if: boundary -->
    <li data-bind="css: { disabled: isForwardDisabled }">
        <a href="#" data-bind="with: text, click: selectLast">
            <span data-bind="html: last">Last</span>
        </a>
    </li>
    <!-- /ko -->
</ul>