<ul class="pagination">
    <!-- ko if: boundary -->
    <li data-bind="with: boundary, css: { disabled: isBackDisabled }">
        <a href="#">
            <span data-bind="text: first">First</span>
        </a>
    </li>
    <!-- /ko -->
    
    <!-- ko if: directions -->
    <li data-bind="with: directions, css: { disabled: isBackDisabled }">
        <a href="#">
            <span data-bind="text: back">&laquo;</span>
        </a>
    </li>
    <!-- /ko -->

    <!-- ko foreach: pages"-->
    <li data-bind="css: { active: isActive }">
        <a href="#" data-bind="text: text"></a>
    </li>
    <!-- /ko -->
    
    <!-- ko if: directions -->
    <li data-bind="with: directions, css: { disabled: isForwardDisabled }">
        <a href="#">
            <span data-bind="text: forward">&raquo;</span>
        </a>
    </li>
    <!-- /ko -->

    <!-- ko if: boundary -->
    <li data-bind="with: boundary, css: { disabled: isForwardDisabled }">
        <a href="#">
            <span data-bind="text: last">Last</span>
        </a>
    </li>
    <!-- /ko -->
</ul>