body {
    padding-top: 50px;
}

.form-fixed-width {
    width: 200px;
}

.examples-menu {
    width: 170px;
    background-color: #f4f4f4;
    border-radius: 5px;
    margin-top: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.affix {
    top: 50px;
}

.examples-menu .active {
    background-color: #ddd;
}

h1[id] {
    margin-top: -40px;
    padding-top: 80px;
}

.page-header {
    margin-top: 0;
}